.weui_cells_radio .weui_check:checked + .weui_icon_checked:before 
  background-color #ff9800
  border-radius 50%
  color #fff

.car-number 
  .weui_cell_bd.weui_cell_primary
    order 2
    text-indent 5px